@mixin modalWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  overflow: hidden;
}
@mixin background {
  background-color: rgba($color: #000000, $alpha: 0.5);
  width: 100%;
  height: 100%;
}
@mixin center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin body {
  background-color: $white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}
